:host {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;

  .settings {
    display: flex;
    gap: 24px;
    flex-direction: column
  }

}

.group-trigger {
  background-color: rgba(0, 0, 0, .06);
}
